@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  --background-color: #24283b;
  --text-color: #9aa5ce;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

input:focus {
  outline: none;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.main-container section {
  margin: 1rem;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock #time {
  font-size: 3.5rem;
}

.search form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .search-bar {
  margin-left: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  border-bottom: solid 2px var(--text-color);
}

.common-sites {
  display: flex;
  justify-content: space-between;
}

.common-sites div {
  padding: 2rem;
}
