@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  --background-color: #24283b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
}

.main-container {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock #time {
  font-size: 300%;
}
