@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  --background-color: #24283b;
  --text-color: #9aa5ce;
  --red: #f7768e;
  --blue: #7dcfff;
  --yellow: #e0af68;
  --green: #9ece6a;
  --white: #d5d6db;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  color: var(--white);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.main-container section {
  margin: 1rem;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock #time {
  font-size: 3.5rem;
}

.search form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .search-bar {
  margin-left: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  border-bottom: solid 2px var(--text-color);
}

.common-sites {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.common-sites div {
  width: 200px;
  max-width: 100%;
  margin: 0 2rem;
  padding: 1rem;
  text-align: center;
}

.common-sites div ul li {
  padding: 0.5rem 0;
}
.common-sites {
  .daily-websites {
    border: solid 4px var(--red);
    border-radius: 1rem;
  }
  .coding-websites {
    border: solid 4px var(--blue);
    border-radius: 1rem;
  }
  .emails-websites {
    border: solid 4px var(--yellow);
    border-radius: 1rem;
  }
  .social-websites {
    border: solid 4px var(--green);
    border-radius: 1rem;
  }
}
